{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create"  class="btn btn-success custom-btn"/>
    {{ form_end(form) }}

            <a href="{{ path('category_index') }}" class="btn btn-primary custom-btn">Back to the list</a>
{% endblock %}
