{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actor list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.firstName }}</td>
                <td>{{ actor.lastName }}</td>
                <td>
                    <a href="{{ path('actor_edit', { 'id': actor.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actor_new') }}" class="btn btn-primary custom-btn">Add new actor</a>
{% endblock %}


